.galeria{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.vitrine__cabecalho{
    display: flex;
    justify-content: space-between;
    width:90vw;
    padding: 1rem 1.5rem;
}
.vitrine__grid{
    display: grid;
}